body {
  background-image: url("https://github.com/stevaniekanter/React-Portfolio/blob/main/src/components/assets/image/background.png?raw=true");
}

body::-webkit-scrollbar {
  display: none;
}

#font{
  font-family:'Courier New', Courier, monospace;
  padding: 30px;
}

.navbtn {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 8px;
  width: 140px;
}

.card-content {
  height: 140px;
}

.card-title {
  margin-left: 10px;
}

#banner {
  padding-top: 5px;
  padding-left: 10px;
}

#subtitle {
  padding-right: 10px;
  padding-bottom: 10px;
}

#profile {
  height: 300px;
  width: 300px;
  padding: 5px;
  display: block;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  top: 260px;
}

#about-me {
  margin-bottom: 100px;
}

#about-me-1 {
  font-size: 20px;
}

#skill {
  font-size: 20px;
  padding-top: 15px;
}

/* #about-me-card,
#skill-card, */
#profile,
.hoverable {
  border: double;
  border-color: #6b1274;
  align-content: center;
}

.portfolio-wrapper {
  margin-bottom: 20px;
}

#portfolio {
  margin-bottom: 90px;
}
#contact-text {
  font-size: 25px;
}

#contact-me {
  margin-bottom: 100px;
}


#contact-info {
  margin-bottom: 20px;
}

#card-body {
  height: 300px;
}

#text {
  font-weight: bold;
  font-size: 20px;
}

.footer-text {
  margin-left: 4%;
  margin-right: 4%;
}

.page-footer {
  padding-bottom: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 740px) {
  .profile {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .profile-image-1 {
    display: none;
  }

  .navigation {
    height: 110px;
  }
}

@media screen and (max-width: 408px) {
  .card-action {
    height: 70px;
  }
}

@media screen and (max-width: 299px) {
  .navigation {
    height: 220px;
  }
}